<section class="w-full">
  <!-- <div>
    <a class="btn-primary font-semibold" routerLink="add-anime">Agregar</a>
    <a
      class="btn-primary font-semibold"
      routerLink="/"
      [queryParams]="{ showdisable: true }"
      >Ajustes</a
    >
  </div> -->
  <article
    class="w-full flex flex-col md:flex-row md:justify-around md:flex-wrap items-center"
  >
    <app-card
      (deleteEvent)="deleteAnime($event)"
      (updateEvent)="updateAnime($event)"
      *ngFor="let anime of animeList"
      [anime]="anime"
    ></app-card>
  </article>
  <app-pagination
    *ngIf="totalPages !== 1"
    [totalPages]="totalPages"
    [currentPageNumber]="page"
    (handleChangePageEvent)="handleChangePage($event)"
  ></app-pagination>
</section>
