<section class="w-full">
  <article
    class="w-full flex flex-col md:flex-row md:justify-around md:flex-wrap items-center"
  >
    <app-card
      (deleteEvent)="deleteAnime($event)"
      (updateEvent)="updateAnime($event)"
      *ngFor="let anime of animeList"
      [anime]="anime"
    ></app-card>
  </article>
  <app-pagination
    [animeList]="animeList"
    [totalPages]="totalPages"
    [itemsPerPage]="itemsPerPage"
    (handleChangePageEvent)="handleChangePage($event)"
  ></app-pagination>
</section>
