<section class="w-full mb-3 flex justify-center">
  <article class="flex justify-between max-h-24 max-w-xs md:max-w-md md:max-h-32">
    <img
      src="/assets/arrow.svg"
      alt="arrow"
      class="w-5 cursor-pointer"
      [ngClass]="this.currentPageNumber === 1 ? 'opacity-40' : ''"
      (click)="handleChangePageLeft()"
    />
    <ul
      class="flex flex-wrap justify-center overflow-auto no-scrollbar gap-y-2"
    >
      <li *ngFor="let pageNumber of pageList">
        <span
          class="mx-1 block text-center"
          (click)="handleChangePage(pageNumber)"
          [ngClass]="
            pageNumber === this.currentPageNumber
              ? 'pagination-btn-secondary'
              : 'pagination-btn-primary'
          "
          >{{ pageNumber }}</span
        >
      </li>
    </ul>
    <img
      src="/assets/arrow.svg"
      alt="arrow"
      class="w-5 cursor-pointer rotate-180"
      [ngClass]="this.currentPageNumber === totalPages ? 'opacity-40' : ''"
      (click)="handleChangePageRight()"
    />
  </article>
</section>
