<section class="flex justify-between items-center bg-slate-200 mb-3">
  <img src="/assets/arrow.svg" alt="arrow" class="w-5" />
  <ul class="min-w-28 py-3 flex flex-wrap">
    <li *ngFor="let pageNumber of pageList">
      <span
        (click)="handleChangePage(pageNumber)"
        class="mr-2"
        [ngClass]="
          pageNumber === this.currentPageNumber
            ? 'pagination-btn-secondary'
            : 'pagination-btn-primary'
        "
        >{{ pageNumber }}</span
      >
    </li>
  </ul>
  <img src="/assets/arrow.svg" alt="arrow" class="w-5 rotate-180" />
</section>
