<section class="w-full flex items-center justify-center">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="animeForm"
    class="w-96 bg-white border border-slate p-4 mt-6"
  >
    <div class="mb-3">
      <label for="title" class="font-semibold text-xl"
        >Titulo del Anime
        <span class="text-xs text-red-500" *ngIf="inputValidation('title')"
          >(Titulo debe ser minimo 2 letras)</span
        ></label
      >
      <input
        type="text"
        formControlName="title"
        class="border rounded-sm border-slate-400 outline-primary block w-full pl-2 py-1"
      />
    </div>
    <div class="mb-3">
      <label for="imgUrl" class="font-semibold text-xl"
        >Url de la Imagen
        <span *ngIf="inputValidation('imgUrl')" class="text-xs text-red-500"
          >(Ingrese url valida)</span
        >
      </label>
      <input
        type="url"
        formControlName="imgUrl"
        class="border rounded-sm border-slate-400 outline-primary block w-full pl-2 py-1"
      />
    </div>

    <div class="mb-3">
      <label for="genres" class="font-semibold text-xl"
        >Generos
        <span class="text-xs">(Separe los generos por comas)</span></label
      >
      <input
        type="text"
        formControlName="genres"
        class="border rounded-sm border-slate-400 outline-primary block w-full pl-2 py-1"
      />
    </div>
    <div class="mb-3" *ngIf="showEnable === false">
      <label for="state" class="font-semibold cursor-pointer flex items-center">
        <input
          type="checkbox"
          formControlName="state"
          id="state"
          class="mr-2"
        />
        <span>Habilitar Anime</span>
      </label>
    </div>
    <div class="flex justify-between items-center">
      <button *ngIf="!isUpdate" class="btn-primary">Agregar</button>
      <button *ngIf="isUpdate" class="btn-secondary">Editar</button>
      <button class="btn-red" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</section>
