<div class="p-2">
  <a
    class="font-semibold text-white text-sm ml-4"
    routerLink="/"
    routerLinkActive="bg-slate-100/[0.2] p-2 rounded"
    [routerLinkActiveOptions]="{ exact: true }"
    >Animes</a
  >
  <a
    class="font-semibold text-white ml-4 text-sm"
    routerLink="add-anime"
    routerLinkActive="bg-slate-100/[0.2] p-2 rounded"
    >Agregar</a
  >
  <!-- <a
    class="font-semibold text-white text-sm ml-4"
    routerLink="/inactives"
    routerLinkActive="bg-slate-100/[0.2] p-2 rounded"
    [routerLinkActiveOptions]="{ exact: true }"
    >Inactivos</a
  > -->
</div>
